.taskBox {
  background: var(--gray-500);
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 0.75rem;

  padding: 1rem;
  border-radius: 8px;
}

.taskBox + .taskBox {
  margin-top: 0.75rem;
}

.taskBox p {
  width: 100%;
}

.taskBox svg {
  color: var(--gray-300);
}

.taskBox input {
  /* hide */
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  margin: 0;
  width: 18px;
  height: 18px;
  display: grid;
  place-content: center;

  &::before {
    content: '';
    width: 18px;
    height: 18px;
    border: 2px solid var(--blue-400);
    border-radius: 50%;
  }

  &:checked::before {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.43059 0.342093L4.09865 4.67403L1.61618 2.19156L0.780273 3.02747L4.09865 6.34584L9.26649 1.178L8.43059 0.342093Z' fill='%23F2F2F2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--purple-600);
    border: 2px solid var(--purple-600);
  }
}
